@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
}

.first-column {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #7CCFCC;
    height: 100%;
    width: 40%;
    align-items: center;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.title-primary {
    color: #fff;
}

.title-secondary {
    color: #707070;
    padding-bottom: 15px;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    text-align: center;
    color: #fff;
}

.img-logo {
    width: 100px;
    height: 100px;
    margin: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form input {
    height: 45px;
    border: none;
    width: 100%;
    background-color: #ecf0f1;
}

:not(output):-moz-ui-invalid {
    box-shadow: none;
}

.label-input {
    border-radius: 15px;
    background-color: #ecf0f1;
    padding-right: 25px;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 8px;
}

.forgot-password {
    display: block;
    color: #707070;
    padding-right: 12px;
    font-size: 12px;
    text-align: end;
    text-decoration: none;
}

.message{
    display: block;
    margin-top: 1em;
    color: red;
    align-self: center;
    font-size: 12px;
    font-weight: bold;
} 

.btn {
    border-radius: 15px;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-second {
    background-color: #FFAA91;
    border: 1px solid #FFAA91;
    transition: background-color .5s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #FFAA91;
    color: #FFAA91;
}

.footer {
    font-size: 10px;
    font-weight: 300;
    line-height: 30px;
    color: #707070;
}